*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
	--cream : #FFE1AF;
	--green : #C6D57E;
	--coral : #D57E7E;
	--blue 	: #A2CDCD;
	--grey  : #AAA492;
	--purple: #8267BE;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
*{
	font-family: 'Shadows Into Light', cursive;
}
.bodi {
    line-height: 1.5;
    min-height: 100vh;
 	background-color: var(--cream);
}
img,
picture {
    max-width: 100%;
    display: block;
}
header{
	background-color: var(--green);
	color: var(--white);
	text-align: center;
	padding: 10px;
}
h2{
	color: var(--white);
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
}
.forms{
	display: flex;
	flex-direction: column;
	margin: auto;
	gap : 1rem;
	border: 2px solid var(--cream);
	background-color: var(--blue);
	border-radius: 12px;
	padding: 3rem;
	width: 23rem;
	animation: back-in 100ms ease-in-out;
	box-shadow: 2px -2px 25px 12px rgba(0,0,0,0.75);
}
.pop-up{
	display: none;	
	transform: translate(-50%, -50%) scale(0);
}
.pop-up-active{
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 500px;
	position: fixed;
	z-index: 9;
	transform: translate(-50%, -50%) scale(1);
}
.overlay-active{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
  	height: 100%;
  	z-index: 10;
  	position: fixed;
  	z-index: 5;
	background-color: rgba(0, 0, 0, 0.5);
}
.checkbox{
	transform: scale(1.5);
}
.addBook{
	text-align: center;
	font-size: 2.8rem;
}
.hr1{
	height: 2px;
}
.btn-books{
	background-color: var(--blue);
	margin: auto;
	border:none;
	outline: none;
	border-radius: 0.3rem;
	height: 2.4rem;
	transition: all 300ms ease-in-out;
}
.btn-books:hover{
	background-color: var(--green);
}
.btn-books:last-child:hover{
	background-color: var(--purple);
	color: white;
}
.holder{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    padding: 50px;
    font-family: 'Comforter', cursive;
}
.books{
	padding: 25px;
	width: 275px;
	height: auto;
	border-radius: 12px;
	background-color: var(--coral);
	z-index: 1;
	border: 3px solid var(--green);
	color: white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.books div{
	font-size: 1.6rem;
}
.book-label{
	color: var(--green);
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-family: 'Comforter', cursive;
}
.boo{
	padding: 2rem;
	display: flex;
	justify-content: center;
}
.grey-color{
	background-color: var(--grey);
}
.light-color{
	background-color: var(--green);
}
.light-color:hover{
	background-color: var(--grey);
}
.btn-submit{
	margin-top: 13px;
	padding: 0.5rem;
	border-radius: 0.34rem;
    border: 1px solid black;
	font-size: 1.2rem;
	margin: 1rem auto;
	width: max-content;
}
.add-btn:hover{
	background-color: var(--green);
}
.read-book{
	display: flex;
	flex-direction: column;
}
#ADD_BTN{
	background-color: var(--blue);
	font-size: 1.5rem;
	transition: all 300ms ease-in-out;
	border: none
}
#ADD_BTN:hover{
	background-color: var(--purple);
	color: white;
	transform:scale(1.05);
}
.form-group{
	font-size: 1.2rem;
}

@keyframes back-in {
	0%{
		transform: translateX(-200%);
	}
	100%{
		transform: translateX(0);
	}
}
